* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow-x: hidden;
}

/* ===== HEADER ===== */
header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    z-index: 10;
}

header img {
    width: 250px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 250px);
}

/* ===== SECTION ===== */
section {
    height: 100vh;
    position: relative;
    background-image: url("./imgs/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* ===== LIST ===== */
section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
    --calculation: 1;
}

/* ===== ITEM ===== */
section .list .item {
    position: absolute;
    inset: 0;
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.8s ease;
    opacity: 0;
}

section .list .item.active {
    transform: translateX(0);
    opacity: 1;
}

/* ===== IMAGEM ===== */
.banda-img {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    width: 70%;
    z-index: 1;
}

.banda-img::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle,
            rgba(190, 255, 27, 0.45),
            rgba(121, 31, 211, 0.15),
            transparent 70%);
    filter: blur(50px);
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banda-img img {
    width: 100%;
    transform: scale(0.85);
    left: -40px;
    position: relative;
    transition: 0.8s ease;
}

.item.active .banda-img img {
    transform: scale(1);
}

.item.active .banda-img::before {
    animation: glowPulse 4s ease-in-out infinite;
}

@keyframes glowPulse {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.9;
    }
}

/* ===== CONTENT ===== */
.content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* DESKTOP AINDA À DIREITA */
    justify-content: center;
    align-items: flex-end;
    text-align: right;

    gap: 20px;
    z-index: 2;
}

.banda-information,
.content h2,
.description,
.information {
    transform: translateX(calc(200px * var(--calculation)));
    opacity: 0;
    transition: 0.8s ease;
}

.item.active .banda-information,
.item.active .content h2,
.item.active .description,
.item.active .information {
    transform: translateX(0);
    opacity: 1;
}

.content h2 {
    font-size: 4.5em;
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
    color: #fff;
    text-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

/* ===== DESCRIPTION ===== */
.description {
    max-width: 400px;
    font-size: 12px;
    color: #d9d9d9;
    text-align: right;

    background: rgba(0, 0, 0, 0.35);
    padding: 14px 18px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    line-height: 1.6;
}

/* -------------------------------------------------- */
/* =============== BOTÕES PERSONALIZADOS ============= */
/* -------------------------------------------------- */

.item.banda .information {
    padding: 10px 26px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #6e6e6d;
    color: #000000;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(5px);
}

.item.banda .information:hover {
    background: rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 12px #0b0e05;
    transform: scale(1.05);
}

.item.vocalista .information {
    padding: 10px 26px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(6px);
}

.item.vocalista .information:hover {
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 15px #000;
    transform: scale(1.05);
}

.item.guitarrista .information {
    padding: 10px 26px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ff6a;
    color: #00ff6a;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(5px);
}

.item.guitarrista .information:hover {
    background: rgba(0, 255, 106, 0.18);
    box-shadow: 0 0 15px #00ff6a;
    transform: scale(1.05);
}

/* BAIXISTA — cor âmbar */
.item.baixista .information {
    padding: 10px 26px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #ffb400;
    color: #ffb400;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(5px);
}

.item.baixista .information:hover {
    background: rgba(255, 180, 0, 0.18);
    box-shadow: 0 0 15px #ffb400;
    transform: scale(1.05);
}

/* BATERISTA — cor vermelha/fogo */
.item.baterista .information {
    padding: 10px 26px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #ff3c3c;
    color: #ff3c3c;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(5px);
}

.item.baterista .information:hover {
    background: rgba(255, 60, 60, 0.18);
    box-shadow: 0 0 15px #ff3c3c;
    transform: scale(1.05);
}

.item.pianista .information {
    padding: 10px 26px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    ;
    border: 2px solid #1db4ff;
    color: #1db4ff;
    cursor: pointer;
    transition: 0.3s ease;
    backdrop-filter: blur(5px);
}

.item.pianista .information:hover {
    background: rgba(29, 180, 255, 0.18);
    box-shadow: 0 0 15px #1db4ff;
    transform: scale(1.05);
}

/* ===== ARROWS ===== */
.arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.arrows button:nth-child(1) {
    transform: scaleX(-1);
}

.arrows img {
    width: 30px;
}

/* ===== INDICATORS ===== */
.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.indicators .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

.indicators ul {
    display: flex;
    gap: 10px;
}

.indicators ul li {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0.4;
}

.indicators ul li.active {
    opacity: 1;
    background-color: #beff1b;
}

/* =============== MOBILE RESPONSIVE ================= */

@media (max-width: 900px) {

    .indicators,
    .indicators ul,
    .indicators ul li {
        display: none !important;
    }

    /* HEADER */
    header {
        width: 100%;
        padding: 10px 0;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 8px;
        background: none !important;
    }

    header img {
        width: 150px;
    }

    header nav ul {
        grid-template-columns: repeat(3, auto);
        gap: 18px;
    }

    /* SECTION */
    section {
        height: 100vh;
        padding-top: 80px;
        background-attachment: scroll;
    }

    /* LIST */
    section .list {
        width: 100%;
        height: 100%;
    }

    /* ITEM — CENTRALIZADO */
    section .list .item {
        position: absolute;
        inset: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        text-align: center;
        padding-top: 10px;

        opacity: 0;
        transform: translateX(calc(100vw * var(--calculation)));
        transition: 0.6s ease;
    }

    section .list .item.active {
        opacity: 1;
        transform: translateX(0);
    }

    /* IMAGEM */
    .banda-img {
        position: relative;
        width: 80%;
        margin: 0 auto;
        transform: none;
        top: 0;
        left: 0;
    }

    .banda-img img {
        width: 100%;
        transform: scale(1.15);
        left: 0;
    }

    .banda-img::before {
        width: 200px;
        height: 200px;
        filter: blur(40px);
    }

    /* CONTENT — TOTALMENTE CENTRALIZADO */
    .content {
        position: relative;
        width: 100%;
        max-width: 600px;

        margin-top: 10px;
        padding: 0 20px;

        align-items: center;
        text-align: center;

        gap: 10px;
        right: 0;
    }

    .content h2 {
        font-size: 2.8em;
        text-align: center;
    }

    .description {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 13px;
        padding: 12px 15px;
    }

    /* BOTÃO CENTRALIZADO */
    .information {
        margin-top: 10px;
    }

    /* ARROWS */
    .arrows {
        width: 100%;
        bottom: 90px;
        padding: 0 35px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .arrows button {
        width: 40px;
        height: 40px;
    }

    /* INDICATORS */
    .indicators {
        width: 100%;
        bottom: 40px;
        gap: 8px;
    }

    .indicators .number {
        font-size: 2.8em;
    }

    .indicators ul li {
        width: 10px;
        height: 10px;
    }

}